/* Global */

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h1 {
    font-size: 60px;
    padding: 20px 10px;
}
h3 {
    text-align: center;
    padding: 10px 10px;
}

p {
    padding: 5px 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px 0px 10px;
  }

section {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    float: left;
    padding: 10px 10px 10px 0px;
    
}
i {
    padding-right: 5px;
    font-size: 2.5em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.btn-light {
    margin: 20px 0px 30px 0px;
    display: inline-block;
    padding: 15px 15px;
    background: rgba(255, 255, 255, 0.35);
    color: #000;
    border: 2px solid #D0CCCC;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.btn-light:hover {
    background: #fff;
    color: #333;
}

.btn-dark {
    margin: 0px 0px 30px 0px auto;
    display: block;
    padding: 10px 100px;
    background: rgba(28, 28, 28, 0.5);
    color: #E4DFDF;
    border: 2px solid rgba(28, 28, 28, .6);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.btn-dark:hover {
    background: rgba(28, 28, 28, 0.8);
    color: #FFF;
    border: 2px solid rgba(28, 28, 28, .8);
}


/* ================================================================== */

/* header */
.navbar {
    margin-bottom: 0px;
}

/* ================================================================== */

/* hero section */
 #heroSection {
    background: url("../../img/home/heroIMG.jpeg");
    width: 100%;
    min-height: 920px;
    background-repeat: no-repeat;
     margin-top: 40px;
} 

#heroSection h1 {
    font-size: 100px;
    line-height: 1.5;
    text-align: center; 
}

#heroSection p {
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    padding-bottom: 20px;
}

.heroBtn {
    background-color: transparent;
    margin: 15px 20px 10px 20px;
    color: #000;
    border: 1px solid #000;
}


/* ================================================================== */
/* Featured Section */

#featuredSection {
    margin: 0px auto;
    padding: 30px 0px;
    min-height: 600px;
    background: url("../img/home/ep_naturalblack.png");

}

.mainFeatured {
    margin: 20px auto;
    padding: 30px 0px 40px 0px;
    color: #D0CCCC;
}
.icon-mongodb:before{
    margin-left: -10px;
}
.icon-nodejs:before {
    margin-left: 10px;
}
.jsIcon {
    font-size: 3.5em;
    margin-top: -10px;
    position: relative;
    top: -13px;
}

.jqIcon {
    position: relative;
    right: 7px;
}

.iHover:hover {
    color: #fff;
}
/* ================================================================== */
/* Portfolio */

#portfolio {
    background-image: url("https://gldigital.github.io/img/home/home3.jpg");
    min-height: 880px;
    
}

.portSection {
    color: #F1ECEC;
}

.bg {
    background: rgba(28, 28, 28, 0.4);
    border: 1px solid rgba(28, 28, 28, 0.4);
    border-radius: 2px;
    padding: 20px 10px;
    min-height: 650px;
}

/* icons */
img.portIcon {
    width: auto;
    height: 250px;
    margin: 20px auto;
    padding: 10px 0px;
    vertical-align: middle;
    filter: grayscale();
}

.oprahNode {
    font-size: 50px;
    position: relative;
    bottom: 5px;
}

img.portIcon:hover {
    filter: none;
}

#crystal {
    opacity: .8;
}
#crystal:hover {
    filter:drop-shadow(8px 8px 10px red);
    opacity: 1;
}

.iHoverDark:hover {
    color: #D5CFCF;
}

img.animated-gif{
    width: 100%;
    margin: 21.2px 0px;
    padding: 10px 0px;
    filter: grayscale();
  }

img.animated-gif:hover {
    filter: none;
}

/* ================================================================== */
/* Contact Section */

#connectSection {
    background-image: url("https://avada.theme-fusion.com/gym/wp-content/uploads/sites/9/2015/05/home-testimonial-bg.jpg");
    min-height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center top;
    color: #D5CFCF;
    
}

.contactIcons {
    font-size: 70px !important;
    padding: 5px 5px;
    color: #D5CFCF;
}

.contactIcons:hover{
    color: rgba(221, 220, 220, 0.61);;
}

.connectBG {
    background: rgba(28, 28, 28, 0.5);
    margin-top: 40px;
    padding: 30px 10px;
}
/* ================================================================== */
/* media queries */

@media all and (min-width: 960px) {
   #heroSection h1{
        font-size: 100px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    #heroSection h1{
        font-size: 60px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    #heroSection h1{
        font-size: 60px;
        
    }
 
}

@media all and (min-width: 960px) {
    #heroSection p{
         font-size: 22px;
         text-align: left;
     }
 }
  
 @media all and (max-width: 959px) and (min-width: 600px) {
     #heroSection p{
         font-size: 22px;
         text-align: left;
     }
 }
  
 @media all and (max-width: 599px) and (min-width: 320px) {
     #heroSection p{
         font-size: 22px;
         text-align: left;
     }
  
 }
  
 @media all and (max-width: 768px) and (min-width: 600px) {
     #heroSection {
        background-image: none;
        background: #ccc;
     }
 }
  
 @media all and (max-width: 599px) and (min-width: 320px) {
     #heroSection {
        background-image: none;
        background: #ccc;
     }
  
 }
